<?xml version="1.0" ?>
<robot name="LD250">
  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <link name="base_link">
  </link>
  <link name="main_body">
    <visual>
      <origin rpy="0 0 3.141582654" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://amr_description/meshes/LD250.obj"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin rpy="0 0 3.141592654" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://amr_description/meshes/LD250.obj"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="4.07"/>
      <inertia ixx="0.426" ixy="0.0" ixz="0.0" iyy="0.496" iyz="0.0" izz="0.91"/>
    </inertial>
  </link>
  <joint name="main_body_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="main_body"/>
    <origin xyz="0 0 0"/>
  </joint>
  <link name="laser_frame">
  </link>
  <joint name="base_link_to_laser_frame" type="fixed">
    <parent link="base_link"/>
    <child link="laser_frame"/>
    <origin xyz="0.45 0 0.195"/>
  </joint>
</robot>

<!-- length of robot 950mm -->
<!-- width of robot 696mm -->
<!-- offset from the front of the robot to the front of laser glass 20mm -->
<!-- offset from the front of the robot to the back of laser glass 120mm -->
<!-- height to the bottom of laser glass from ground 180mm -->
<!-- height to the top of laser glass from ground 210mm -->
