<?xml version="1.0" ?>
<robot name="LD90">
  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <link name="base_link">
  </link>
  <link name="main_body">
    <visual>
      <origin rpy="0 0 1.5707963267949" xyz="0 0 0.244"/>
      <geometry>
        <mesh filename="package://amr_description/meshes/LD90.obj"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <origin rpy="0 0 1.5707963267949" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://amr_description/meshes/LD90.obj"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="4.07"/>
      <inertia ixx="0.426" ixy="0.0" ixz="0.0" iyy="0.496" iyz="0.0" izz="0.91"/>
    </inertial>
  </link>
  <joint name="main_body_to_base" type="fixed">
    <parent link="base_link"/>
    <child link="main_body"/>
    <origin xyz="0 0 0"/>
  </joint>
</robot>
