<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ld90_lib"> 

<xacro:macro name="ld90" params="prefix:='' parent:='' xyz:='0 0 0' rpy:='0 0 0' mesh_pkg:='amr_description'"> 

<material name="${prefix}blue"><color rgba="0 0 0.8 1"/></material>
<material name="${prefix}black"><color rgba="0 0 0 1"/></material>
<material name="${prefix}white"><color rgba="1 1 1 1"/></material>

<link name="${prefix}base_link"/>

<link name="${prefix}main_body">
  <visual>
    <origin rpy="0 0 1.5707963267949" xyz="0 0 0.244"/>
    <geometry>
      <mesh filename="package://${mesh_pkg}/meshes/LD90.obj"/>
    </geometry>
    <material name="${prefix}white"/>
  </visual>
  <collision>
    <origin rpy="0 0 1.5707963267949" xyz="0 0 0"/>
    <geometry>
      <mesh filename="package://${mesh_pkg}/meshes/LD90.obj"/>
    </geometry>
  </collision>
  <inertial>
    <mass value="4.07"/>
    <inertia ixx="0.426" ixy="0.0" ixz="0.0" iyy="0.496" iyz="0.0" izz="0.91"/>
  </inertial>
</link>

<joint name="${prefix}main_body_to_base_link" type="fixed">
  <parent link="${prefix}base_link"/>
  <child link="${prefix}main_body"/>
  <origin xyz="0 0 0"/>
</joint>

<!-- Laser frame -->
<link name="${prefix}laser_frame">
</link>

<!-- Base to laser frame fixed joint (matches LD250.urdf) -->
<joint name="${prefix}base_link_to_laser_frame" type="fixed">
  <parent link="${prefix}base_link"/>
  <child link="${prefix}laser_frame"/>
  <origin xyz="0.265 0 0.195"/>
</joint>

<!-- Laser frame -->
<link name="${prefix}laser_frame_low">
</link>

<!-- Base to laser frame fixed joint (matches LD250.urdf) -->
<joint name="${prefix}base_link_to_laser_frame_low" type="fixed">
  <parent link="${prefix}base_link"/>
  <child link="${prefix}laser_frame_low"/>
  <origin xyz="0.265 0 0.195"/>
</joint>

<xacro:if value="${parent != ''}">
  <joint name="${prefix}base_mount" type="fixed">
    <parent link="${parent}"/>
    <child link="${prefix}base_link"/>
    <origin xyz="${xyz}" rpy="${rpy}"/>
  </joint>
</xacro:if>

<!--
  Dimensions (from https://files.omron.eu/downloads/latest/datasheet/en/i828_ld-series_mobile_robot_datasheet_en.pdf?v=2):
  - length: 700 mm
  - width: 500 mm
  - base height: 380 mm
  - laser glass center height: 190 mm

  Dimensions roughly measured
  - laser glass offset front: 35 mm
  - laser glass offset back: 135 mm
  - lower laser glass center height: 60 mm

  Calaculated from the above dimensions:
  - laser center from the middle of the robot: (700/2 - 135 + (135-35)/2) mm = 265 mm
-->
</xacro:macro>

</robot> 